a{
    color: rgb(53, 11, 142);
}
.sidenav-text-styles:hover{
            font-size: 1.3em;
            color: rgb(66, 15, 175);
        }

.sesion-usuario{
    background-color: rgba(16, 71, 181, 0.609);
    width: 180px;
}

.sesion-usuario-text{
    color: rgb(242, 244, 248);
}