<mat-nav-list class="sidenav-styles">
    
    <mat-list-item  routerLink="/dashboard/home">
        <a class="sidenav-text-styles">Inicio</a>
    </mat-list-item>

    <mat-list-item  routerLink="/dashboard/courses">
        <a class="sidenav-text-styles">Cursos</a>
    </mat-list-item>

    <mat-list-item routerLink="/dashboard/users">
        <a class="sidenav-text-styles">Usuarios</a>
    </mat-list-item>

    <mat-list-item (click)="logout()">
        <button mat-flat-button color="primary"> Cerrar sesión </button>
        
    </mat-list-item>

</mat-nav-list>


