<mat-drawer-container class="example-container" autosize>

    <app-toolbar (toggleSidebar)="showSidebar = !showSidebar"></app-toolbar>

    <mat-drawer [opened]="showSidebar" #drawer class="example-sidenav" mode="side">

        <app-sidebar> </app-sidebar> 

        <router-outlet> </router-outlet>

    </mat-drawer>


    <div class="example-content">
        <div class="container text-center">
            <a href=""> <img alt="logo" src="../assets/img/logo.png"> </a>
        </div>
    </div> 
    
</mat-drawer-container> 
